<%- include('partials/navigation') %> 
<form action="/auth/dashboard" method="post">
  <div>
    <label>email</label>
    <input type="text" name="email">
  </div>
  <div>
    <label>password</label>
    <input type="text" name="password">
  </div>
  <div>
    <input type="submit" value="Login">
  </div>
</form>