<%- include('partials/navigation') %> 
<form action="" method="post">
  <div>
    <label>name</label>
    <input type="text" name="name">
  </div>
  <div>
    <label>email</label>
    <input type="text" name="email">
  </div>
  <div>
    <label>password</label>
    <input type="text" name="password">
  </div>
  <div>
    <label>password confirm</label>
    <input type="text" name="password-confirm">
  </div>
  <div>
    <input type="submit" value="Register">
  </div>
</form>